
$base-font: 'Roboto', Arial, sans-serif;
$base-size:   16px;
$base-weight: 400;
$base-line-height: 1.5;

@mixin main-font {
    font-family: 'Roboto', Arial, sans-serif;
    color:$primary-color;
    margin: 0;
 } 

@mixin body-font {
    font-family: $base-font;
    color: $regular-text-color;
    margin: 0;
 }